<!doctype html>
<html lang="en">
<head>
<title>BFSI : Reimagining  the Customer Experience</title>
<meta name="description" content="">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui" />

<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" type="image/png" href="favicon.png">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css" type="text/css" media="screen" />


<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
<link href="css/common-text.css" rel="stylesheet" type="text/css" />
<link href="css/common-layout.css?2" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/resrponsive.css">

</head>
<body>
	
    
    <div class="loader"><span></span></div>
    
    
    <div class="loginbg">
    	
        <div class="eclogo"><a href=""><img src="images/eclogo.png" alt="" ></a></div>
        
        <div class="datetime"><i>28</i><i>29</i><h6><span>April 2021</span>10:00AM - 5:30PM</h6></div>
        
        <div class="loginbox">
            <div class="countboxcon">
                <a href=""><img src="images/bfsi.png" alt="" class="countdownboxlogo"></a>
                <h3>Reimagining  the Customer Experience</h3>
                <h5><img src="images/date-time.png" alt="" > 28-29 April, 2021 <span>|</span> <img src="images/time-icon.png" alt="" > 10:00AM IST</h5>
                
                <div class="idxcount">
                    <ul class="nobullet">
                        <li><span id="days"></span>days</li>
                        <li><span id="hours"></span>Hours</li>
                        <li><span id="minutes"></span>Minutes</li>
                        <li><span id="seconds"></span>Seconds</li>
                    </ul>
                </div>
                <h6><span>You will be redirected to the Login Page once the conference begins.</span></h6>
                <div class="tac"><h4><span>Hiren Mistry</span>hiren.mistry@indianexpress.com</h4></div>
                <p class="tac"><i>If you are not redirected automatically,<span>click on the below button to enter the session</span></i></p>
                <div class="btn4 tac"><a href="#">Login Now</a></div>
            </div>
        </div>
        
    </div>
    
    
    <!--<div class="innercontainwrapper">
        <h2>Partners</h2>
        <div class="group clearboth tac">
            <div class="idxpartnersbox">
                <img src="https://bfsi.expresscomputer.in/images/logmein.gif" alt="" >
                <h6>POWERED BY</h6>
            </div><div class="idxpartnersbox">
                <img src="https://bfsi.expresscomputer.in/images/edb.gif" alt="" >
                <h6>SILVER PARTNER</h6>
            </div>
        </div>
    </div>-->
    
    
    <div class="mainfooter">
        <div class="mainfooterleft"><a href="https://www.expresscomputer.in/" target="_blank"><img src="images/eclogo.png" alt="" ></a> Copyright &copy; The Indian Express [P] Ltd. All Rights Reserved. <span>|</span> <a href="https://www.expresscomputer.in/privacy-policy/" target="_blank">Privacy Policy</a></div>
        <div class="mainfooterright">
            <a href="https://www.facebook.com/ExpressComputerOnline/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/showcase/express-computer/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://twitter.com/ExpComputer" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/expresscomputeronline/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
    </div>

    
    
    
<script type="text/javascript" src="https://s.ebpd.in/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://s.ebpd.in/ajax-1.9.0.min.js"></script>
<script type="text/javascript" src="https://s.ebpd.in/source-tracking.js"></script>

<script src="js/jquery.balance.js" type="text/javascript"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('.idxspeakerboxheight').balance() ;
	});
</script>

<script src="js/jquery.bxslider.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  if($(window).width() < 10500){
		  $('.headerslider').bxSlider({
			infiniteLoop:true,
			auto:true,
			pager:true,
			controls:false,
			  oneToOneTouch:true,
				pause: 7000,
				touchEnabled: true,
		 });
	  }
	});
</script>



<script type="text/javascript">
		const second = 1000,
	      minute = second * 60,
	      hour = minute * 60,
	      day = hour * 24; 
		 let countDown = new Date('April 28, 2021 00:00:00').getTime(),
	    x = setInterval(function() {
	
	      let now = new Date().getTime(),
	          distance = countDown - now;
	
	      document.getElementById('days').innerText = Math.floor(distance / (day)),
	        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
	        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
	        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
	      
	      //do something later when date is reached
	      //if (distance < 0) {
	      //  clearInterval(x);
	      //  'IT'S MY BIRTHDAY!;
	      //}
	
	    }, second)
</script>



<script type="text/javascript">
	$(window).load(function() {
		$(".loader").fadeOut("slow");
	})
</script>


</body>
</html>
